//
// Code Test
//

.code-test-card {
    padding: 40px;
    margin: 10px;
    text-align: left;
}

.code-test-card-title {
    margin: 0;
    font-size: 24px;
    color: #333333;
}

.code-test-introduction {
    color: #666666;
}

.code-test-content {
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 15px;
}

.code-test-content-title {
    color: #555555;
    margin: 0;
    margin-bottom: 15px;
}

.code-test-content hr {
    border-bottom: 1px solid #cccccc;
    margin: 0;
    border-top: none;
}
