//
// Job
//

.job-card {
    border-bottom: 1px solid #cccccc;
    padding: 20px 30px;
    cursor: pointer;
}

.job-card-title {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #555555;
    transition: all 0.2s;
}

.job-card-content {
    font-size: 16px;
    color: #333333;
    min-height: 90px;
}

.job-card:hover .job-card-title {
    color: #14a800;
}

.more-btn {
    font-weight: 500;
    margin-left: 5px;
    color: #14a800;
    transition: all 0.2s;
}

.more-btn:hover {
    text-decoration: underline;
}

.job-card-bottom {
    display: flex;
    justify-content: space-between;
}

.job-card-bottom p {
    margin: 0 10px;
    font-size: 14px;
    color: #555555;
    display: flex;
    align-items: center;
}

.job-card-bottom .manager-name svg {
    font-size: 20px;
    margin-right: 5px;
}

.job-card-bottom .company-name svg {
    font-size: 18px;
    margin-right: 5px;
}

.job-card-bottom .company-name {
    font-weight: 500;
}

.job-actions-div {
    display: flex;
}

.job-actions-div a {
    margin: 0 15px;
    font-size: 16px;
    font-weight: 500;
    color: #14a800;
    transition: all 0.2s;
}

.job-actions-div a:hover {
    text-decoration: underline;
}
